<h1>説明会検索</h1>


<%= form_for(@search_form, url: :search_briefing_sessions, html: {method: :get}) do |f| %>

  <%= f.label :location, "開催地" %>
  <%= f.text_field :location %><br>
  <%= f.label :bs_date, "開催日" %>
  <%= f.text_field :bs_date %><br>
  <%= f.label :start_time, "開始時間" %>
  <%= f.text_field :start_time %><br>
  <%= f.label :finish_time, "終了時間" %>
  <%= f.text_field :finish_time %><br>

  <%= f.submit "検索" %>

<% end %>
