<h3><%= link_to '企業一覧', companies_path %></h3>
<h3><%= link_to 'URL一覧', urls_path %></h3>
<h3><%= link_to '説明会検索', briefing_session_search_forms_path %></h3>

<h1>説明会検索</h1>


<%= form_for @search_form, as: 'search', url: :briefing_sessions, html: {method: :get} do |f| %>

  <%= f.label :location, "開催地" %>
  <%= f.text_field :location %><br>
  <%= f.label :bs_date, "開催日" %>
  <%= f.text_field :bs_date %><br>
  <%= f.label :start_time, "開始時間" %>
  <%= f.text_field :start_time %><br>
  <%= f.label :finish_time, "終了時間" %>
  <%= f.text_field :finish_time %><br>

  <%= f.submit "検索" %>

<% end %>


<table>
  <thead><tr>
    <th>ID</th>
    <th>企業ID</th>
    <th>企業</th>
    <th>開催地</th>
    <th>開催日</th>
    <th>開始時間</th>
    <th>終了時間</th>
    <th>詳細</th>
    <th colspan="7"></th>
  </tr></thead>

<% if @bs_result.exists? %>
  <tbody><% @bs_result.each do |bs| %><tr>
    <td><%= bs.id %></td>
    <td><%= bs.company.id %></td>
    <td><%= link_to bs.company.com_name, bs.company %></td>
    <td><%= bs.location %></td>
    <td><%= bs.bs_date %></td>
    <td><%= bs.start_time.to_s(:time) %></td>
    <td><%= bs.finish_time.to_s(:time) %></td>
    <td><%= link_to '詳細', bs %></td>
  </tr><% end %></tbody>
<% else %>
  <p>該当データ無し</p>
<% end %>
</table>
