<%= debug params %>
<%= debug @search_form %>
<% #binding.pry %>

<%= form_for(@search_form, url: :search_briefing_sessions, html: {method: :get}) do |f| %>

  <%= f.label(:sf_location, "開催地") %>
  <%= f.collection_select(:sf_location, JpPrefecture::Prefecture.all, :name, :name, include_blank: true) %><br>
  <%= f.label(:sf_start_date, "開催日") %>
  <%= f.date_field(:sf_start_date) %> 〜
  <%= f.date_field(:sf_finish_date) %><br>
  <%= f.label(:sf_start_time, "開催時間") %>
  <%= f.time_select(:sf_start_time, include_blank: true, ignore_date: true, minute_step: 15) %> 〜
  <%= f.time_select(:sf_finish_time, include_blank: true, ignore_date: true, minute_step: 15) %><br><br>

  <%= f.submit "検索" %>

<% end %>

<hr>

<% if @bs_results.present? %>
<div class="table-responsive">
<table>
  <thead><tr>
    <th>ID</th>
    <th>企業ID</th>
    <th>企業</th>
    <th>開催地</th>
    <th>開催日</th>
    <th>開始時間</th>
    <th>終了時間</th>
    <th>詳細</th>
  </tr></thead>

  <tbody><% @bs_results.each do |bs| %><tr>
    <td><%= bs.id %></td>
    <td><%= bs.company.id %></td>
    <td><%= link_to bs.company.com_name, bs.company %></td>
    <td><%= bs.location %></td>
    <td><%= bs.bs_date %></td>
    <td><%= bs.start_time.to_s(:time) %></td>
    <td><%= bs.finish_time.to_s(:time) %></td>
    <td><%= link_to '詳細', bs %></td>
  </tr><% end %></tbody>

<% else %>
  <p>該当データ無し</p>
<% end %>
</table>
</div>