<p>
  <strong>ID</strong>
  <%= @bs.id %>
</p>

<p>
  <strong>企業</strong>
  <%= link_to @bs.company.com_name, @bs.company %>
</p>

<p>
  <strong>開催地</strong>
  <%= @bs.location %>
</p>

<p>
  <strong>開催日</strong>
  <%= @bs.bs_date %>
</p>

<p>
  <strong>開始時間</strong>
  <%= @bs.start_time.to_s(:time) %>
</p>

<p>
  <strong>終了時間</strong>
  <%= @bs.finish_time.to_s(:time) %>
</p>

<p>
  <strong>リンク</strong>
  <table>
    <% @bs.urls.each do |url| %><tr>
      <td><%= link_to url.url_val, url.url_val %></td>
    </tr><% end %>
  </table>
</p>

<p><%= link_to '企業一覧へ戻る', companies_path %></p>
<p><%= link_to '説明会一覧へ戻る', briefing_sessions_path %></p>