<%= form_for(@search_form, url: :search_briefing_sessions, html: {method: :get}) do |f| %>
  <h2>企業</h2>
  <%= f.label(:sf_employees_number, "社員数") %>
  <%= f.text_field(:sf_employees_number) %>

  <h2>説明会</h2>
  <%= f.label(:sf_location, "開催地") %>
  <%= f.collection_select(:sf_location, JpPrefecture::Prefecture.all, :name, :name, include_blank: true) %><br>
  <%= f.label(:sf_start_date, "開催日") %>
  <%= f.date_field(:sf_start_date) %> 〜
  <%= f.date_field(:sf_finish_date) %><br>
  <%= f.label(:sf_start_time, "開催時間") %>
  <%= f.time_select(:sf_start_time, include_blank: true, ignore_date: true, minute_step: 15) %> 〜
  <%= f.time_select(:sf_finish_time, include_blank: true, ignore_date: true, minute_step: 15) %><br><br>

  <%= f.submit "検索" %>

<% end %>
