<%= form_for(@search_form, url: :search_briefing_sessions, html: {method: :get}) do |f| %>
  <h2>サイト</h2>
  <p><%= f.collection_check_boxes(:sf_site, Site::Site.all, :id, :site_name, include_hidden: false ) do |site| %>
    <%= site.label {site.check_box + site.text } %>　
  <% end %></p>

  <h2>企業</h2>
  <p><%= f.label(:sf_from_emp_num, "従業員数") %>
  <%= f.text_field(:sf_from_emp_num) %> 〜
  <%= f.text_field(:sf_to_emp_num) %></p>
  <p><%= f.label(:sf_sub, "業種") %>
  <%= f.text_field(:sf_sub) %></p>

  <h2>説明会</h2>
  <p><%= f.label(:sf_location, "開催地") %><br>
  <% REGION.each do |reg, pres| %>
    <strong><%= reg %></strong><br>
    <% pres.each do |pre| %>
      <%= f.check_box(:sf_location, {multiple: true, include_hidden: false}, pre) %>
      <%= pre %>&nbsp;&nbsp;
    <% end %><br>
  <% end %></p><br>

  <p><%= f.label(:sf_start_date, "開催日") %>
  <%= f.date_field(:sf_start_date) %> 〜
  <%= f.date_field(:sf_finish_date) %></p>
  <p><%= f.label(:sf_start_time, "開催時間") %>
  <%#= binding.pry %>
  <%= f.time_select(:sf_start_time,  include_blank: true, ignore_date: true, minute_step: 15) %> 〜
  <%= f.time_select(:sf_finish_time, include_blank: true, ignore_date: true, minute_step: 15) %></p><br>

  <%= f.submit "検索" %>

<% end %>