<!DOCTYPE html>
<html>
<head>
  <title>GraduationResearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3><%= link_to '企業一覧', companies_path %></h3>
<h3><%= link_to '説明会一覧', briefing_sessions_path %></h3>
<h3><%= link_to 'URL一覧', urls_path %></h3>


<%= yield %>


<h3><%= link_to '企業一覧に戻る', companies_path %></h3>
<h3><%= link_to '説明会一覧に戻る', briefing_sessions_path %></h3>
<h3><%= link_to 'URL一覧に戻る', urls_path %></h3>


</body>
</html>
